<div class="container">
  <h1><%= @movie.title %></h1>

  <img src=<%= "https://image.tmdb.org/t/p/original/#{@movie.poster_url}" %> style='width: 240px; height: auto;'alt="">
  <p><%= @movie.overview %></p>
  <p><%= @movie.rating %>/10</p>

  <div>
    <h5>Featured Lists:</h4>
    <ul>
      <% @lists.each do | list | %>
        <% if list.bookmarks.find_by(movie_id: @movie).comment.length > 0  %>
          <li><%= link_to list.name, list_path(list) %> - <i><%= list.bookmarks.find_by(movie_id: @movie).comment %></i></li>
        <% else %>
          <li><%= link_to list.name, list_path(list) %></li>
          <% end %>
      <% end %>
    </ul>
  </div>

  <h5>Reviews</h5>
  <div class="d-flex">
    <% @movie.reviews.each do | review | %>
      <div class="card">
        <p>name: <%= review.name %></p>
        <p><%= review.comment %></p>
        <p><%= review.rating %>/5</p>
      </div>
    <% end %>
    <%= render "/reviews/form", movie: @movie, review: Review.new %>
  </div>
</div>
