<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class='d-flex justify-content-between'>
    <%= link_to "Film Lists", lists_path %>
    <div class='container'>
      <%= simple_form_for(List.new) do |f| %>
        <div class='d-flex flex-wrap'>
          <%= f.input :name, label: false, placeholder: "Add a New List" %>
          <%= f.submit style: 'height: 38px;' %>
        </div>
      <% end %>
    </div>
  </div>

    <%= yield %>
  </body>
</html>
